html {
    background-color: black;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    color: white;
    text-align: center;

}

h1 {
    font-family: 'Libre Baskerville', serif;
    
    text-transform: uppercase;
}



.motivation-image{
    border: 5px solid white;
    width: 100%;
}